<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="2113.6">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Menlo; color: #262626; -webkit-text-stroke: #000000; background-color: #f2f2f2}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Menlo; color: #000075; -webkit-text-stroke: #000075; background-color: #f2f2f2}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Menlo; color: #262626; -webkit-text-stroke: #000000; background-color: #f2f2f2; min-height: 15.0px}
    span.s1 {font-kerning: none; color: #535502; -webkit-text-stroke: 0px #535502}
    span.s2 {font-kerning: none}
    span.s3 {font-kerning: none; color: #107902; -webkit-text-stroke: 0px #107902}
    span.s4 {font-kerning: none; color: #000075; -webkit-text-stroke: 0px #000075}
    span.s5 {font-kerning: none; color: #262626; -webkit-text-stroke: 0px #000000}
    span.s6 {font-kerning: none; color: #520053; -webkit-text-stroke: 0px #520053}
  </style>
</head>
<body>
<p class="p1"><span class="s1">&lt;?</span><span class="s2">xml version</span><span class="s1">=</span><span class="s3">"1.0"</span><span class="s1">?&gt;</span></p>
<p class="p2"><span class="s2">&lt;model&gt;</span></p>
<p class="p1"><span class="s2"><span class="Apple-converted-space">  </span></span><span class="s4">&lt;name&gt;</span><span class="s2">Distorted Camera</span><span class="s4">&lt;/name&gt;</span></p>
<p class="p2"><span class="s5"><span class="Apple-converted-space">  </span></span><span class="s2">&lt;version&gt;</span><span class="s5">1.0</span><span class="s2">&lt;/version&gt;</span></p>
<p class="p1"><span class="s2"><span class="Apple-converted-space">  </span></span><span class="s4">&lt;sdf</span><span class="s2"> </span><span class="s6">version</span><span class="s1">=</span><span class="s3">'1.5'</span><span class="s4">&gt;</span><span class="s2">model.sdf</span><span class="s4">&lt;/sdf&gt;</span></p>
<p class="p3"><span class="s2"></span><br></p>
<p class="p2"><span class="s5"><span class="Apple-converted-space">  </span></span><span class="s2">&lt;author&gt;</span></p>
<p class="p2"><span class="s5"><span class="Apple-converted-space">   </span></span><span class="s2">&lt;name&gt;</span><span class="s5">My Name</span><span class="s2">&lt;/name&gt;</span></p>
<p class="p2"><span class="s5"><span class="Apple-converted-space">   </span></span><span class="s2">&lt;email&gt;</span><span class="s5">me@my.email</span><span class="s2">&lt;/email&gt;</span></p>
<p class="p2"><span class="s5"><span class="Apple-converted-space">  </span></span><span class="s2">&lt;/author&gt;</span></p>
<p class="p3"><span class="s2"></span><br></p>
<p class="p2"><span class="s5"><span class="Apple-converted-space">  </span></span><span class="s2">&lt;description&gt;</span></p>
<p class="p1"><span class="s2"><span class="Apple-converted-space">    </span>My distorted camera.</span></p>
<p class="p2"><span class="s5"><span class="Apple-converted-space">  </span></span><span class="s2">&lt;/description&gt;</span></p>
<p class="p2"><span class="s2">&lt;/model&gt;</span></p>
</body>
</html>
